@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: Poppins;
    background-color: black;
    color: #fff;
    margin: 0;
}
a{
    text-decoration: none;
}

/* Whatsapp */
.whatsapp {
    position: fixed;
    bottom: 90px;
    right: 30px;
    z-index: 1000;
}


.whatsapp a{
    text-decoration: none;

}

.whatsapp button{
    color: #fff;
    background-color: rgb(38, 225, 38);
    border: none;
    width: 180px;
    height: 40px;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: .1em;
    transition: 0.5s;
}

.whatsapp button:hover{
    letter-spacing: .25em;
}



/* nav */
 header{
    width: 1140px;
    max-width: 80%;
    margin: auto;
    position: relative;
    height: 50px;
    z-index: 1000;
}
/*nav{
    display: flex;
    align-items: center;
    padding: 20px 8%;

}
nav .logo{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: -210px;
} */

/* nav ul { */
    /* flex 1 arrenge in equal width */
    /* flex: 1;
    text-align: right;
}
nav ul li {
    display: inline-block;
    justify-content: space-between;
    list-style: none;
    margin: 0 20px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover{
    color: red;
} */





/* new nav */

/* nav{ */
  /* background-color: white; */
  /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); */

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav li img{
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin-left: -94px;
    margin-top: 28px;

}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}
nav a:hover{
  /* background-color: #f0f0f0; */
    color: rgb(193, 136, 136);

}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}

@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}



/* css slider */

.slider{
    height: 100vh;
    margin-top: -50px;
    position: relative;
}
.slider .list .item{
    /* for items to overlap each other */
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    /* first all items have to be hiden  */
    opacity: 0;
    transition: 0.5s;

}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item .button{
    background-color: hsla(0,0%,100%,.2 );
    padding: 1.25rem 1.5rem;
    color: #fff;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: 300;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
}
.slider .list .item .button i{
    font-size: 1.25rem;
    transition: transform .4s;
    /* font-weight: initial; */
}

.slider .list .item .button:hover i{
    transform: translateX(.25rem);
}


.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image:linear-gradient(
        to top,#000 40% transparent
    );
}
.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}
/* .slider .list .item .content button{
    box-shadow: 0;
    height: 45px;
} */

.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content h1{
    font-weight: 800;
    /* font-size: 100px; */
    font-size: 83px;
    color:rgba(232, 92, 92, 0.729);
    /* 83px */
    margin: 0;
}
.slider .list .item.active{
    opacity: 1;
    /* to over lap */
    z-index: 10;
}

/* animation */

@keyframes showContent{
    /* used to disply final effects */
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;

    }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h1,
.slider .list .item.active button,
.slider .list .item.active a,

.slider .list .item.active p:nth-child(3){

    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s .7s ease-in-out 1 forwards; 
              /* dispaley it,  delay  ,motion effect , 1 time run , it retain its last effect*/
} 
.slider .list .item.active h1{
    animation-delay: 1s;
}
.slider .list .item.active button{
    animation-delay: 1.2s;

}
.slider .list .item.active a{
    animation-delay: 1.4s;
}

.slider .list .item.active p:nth-child(3){
    animation-delay: 1.3s;
}


/* arrows */

.arrows{
    position: absolute;
    top: 30%;
    z-index: 100;
    right: 50px;

}
.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #fff;
    transition: .5s;
}
.arrows button:hover{
    background-color: #fff;
    color: #000;
}


/* thumbnail */

.thumbnail{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    cursor: pointer;

    /* now we have ascroling   */
    overflow: auto;

    justify-content: center;

}

/* now the scrool bar hidden without brackimgh the scroling functionality */
.thumbnail::-webkit-scrollbar{
    width: 0;
}

.thumbnail .item{
    width: 150px;
    height: 220;
    filter: brightness(.5);
    transition: .5s;

    /* for shrinking of thumbniles in smaller screen */
    flex-shrink: 0;

}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1.5);
}
.thumbnail .item .content{
    position: relative;
    inset: auto 10px 22px 10px;
}


/* about */

.about_det{
    padding: 50px;
    /* margin-top: 120PX; */
    padding: 145px 64px;
}

.about_col_conat h2{
    font-size: 50px;
    font-weight: 700;
    color: rgb(129, 53, 53);
}
.about_col_conat p{
    text-align: justify;
    letter-spacing: 0.1px;
    font-family: 'Courier New', Courier, monospace;
}
.about_det .about-image { 
    margin-top: 80px;
}
.about_det .text_logo{
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 5px;
    font-weight: 400;
    line-height: 1.3 !important;
    font-family:'Oswald', sans-serif;
}



.animated-text,
.animated_h{
    transform: translateX(100px);  /* Move image up initially */
    filter: blur(20px);
    opacity: 0;
    animation: slideInUp 1.5s .5s ease-in-out 1 forwards;
}
.animated_logo{
    transform: translateY(-50px);  /* Move image up initially */
    filter: blur(20px);
    opacity: 0;
    animation:slideInUp 1.5s .5s ease-in-out 1 forwards;
}
.animated_h{
    animation-delay: 1.2;
}
.animated-text{
    animation-delay: 1s;
}



.animated-image {
    transform: translateY(100px);  /* Move image up initially */
    filter: blur(20px);
    opacity: 0;
    animation: slideInUp 1.5s .5s ease-in-out 1 forwards;  /* Animation definition */
}
  
@keyframes fadeIn {
    /* from { opacity: 0; } */
    to {transform: translateX(0px);
        opacity: 1;
        filter: blur(0); }
}
  
@keyframes slideInUp {
    /* from { transform: translateY(100px); } */
    to { transform: translateY(0px);
        opacity: 1;
        filter: blur(0); }
}





/*  */


@keyframes fade-in{
    from{scale: 0.4; opacity: 0;}
    to{scale:1 ; opacity: 1;}
}

@media screen and (max-width:678px){
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h1{
        font-size: 70px;
    }
    .arrows{
        /* right: 5px; */
        top: 10%;
    }
    header nav img{
        right: 30%;
    }
    nav li img{
        
        left: 122px;
    }
    
}

    /* margin-top: 120PX; */




/* Servuice */

.service_section{
    padding: 145px 64px;
}
.service_col img{
    object-fit: cover;
    width: 300px;
    height: 333px;
    border-radius: 10px;
    transition: transform .4s;
    overflow: hidden;

}
.service .section_title{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: rgb(rgb(149, 102, 102), rgb(125, 161, 125), rgb(98, 98, 119));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.service_col img:hover{
    transform: translateY(-.2.5rem);
    cursor: pointer;    
}


.service_col{
    width: 290px;
    /* background-color: #b8a1a1; */
}
.service_col .service_title{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
}
.service_col p{
    font-size: 10px;
}

.service_img{
    transform: translateY(100px);  /* Move image up initially */
    filter: blur(20px);
    opacity: 0;
    animation: slideInUp 1.5s .5s ease-in-out 1 forwards;  /* Animation definition */
}

.service_title,
.service_p{
    transform: translateY(50px);  /* Move image up initially */
    filter: blur(20px);
    opacity: 0;
    animation: slideInUp 1.5s .5s ease-in-out 1 forwards;
}
.section_title{
    transform: translateX(-50px);  /* Move image up initially */
    filter: blur(20px);
    opacity: 0;
    animation: slideInUp 1.5s .5s ease-in-out 1 forwards;
}



/*  */

.scroll-reveal{
    text-align: center;
}

.scroll-reveal h1{
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 1px;
}
.scroll-reveal p{
    font-family:a;
    line-height: 1.5rem;
    font-size: 1.75rem;
    margin-inline: auto;
    max-width: 55ch;
}
.scroll-reveal  span{
    color: hsl(0 0% 100% / 0.2);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient( 90deg, white, white);
    animation: scroll-reveal linear forwards;
    animation-timeline:view(y) ;

}
.scroll-reveal h1 span{
    animation-range-start: cover 20vh;
    animation-range-end:30vh ;
} 
.scroll-reveal p span{
    animation-range-start: cover 22.5vh;
    animation-range-end:50vh ;
}

@keyframes scroll-reveal{
    to{
        background-size: 100% 100%;
    }
}






/* footer */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}





/* scroll up */

.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    padding: 10px;
    font-size: 1.25rem;

    z-index: 100;

    border-radius: 10px;
    background-color: hsla(0,0%,100%,.2 );
    color: #fff;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: 300;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    transition: bottom .4s transform .4s
}
.scrollup:hover{
    transform: translateY(-.25rem);
}

/* show scroller */
.show-scroll{
    bottom: 3rem;
}